<p id="notice"><%= notice %></p>

<h1>My Wines</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Appellation winery</th>
      <th>Vintage</th>
      <th>Quantity</th>
      <th>Size</th>
      <th>My wine cellar</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @my_wines.each do |my_wine| %>
      <tr>
        <td><%= my_wine.name %></td>
        <td><%= my_wine.appellation_winery_id %></td>
        <td><%= my_wine.vintage %></td>
        <td><%= my_wine.quantity %></td>
        <td><%= my_wine.size %></td>
        <td><%= my_wine.my_wine_cellar_id %></td>
        <td><%= link_to 'Show', my_wine %></td>
        <td><%= link_to 'Edit', edit_my_wine_path(my_wine) %></td>
        <td><%= link_to 'Destroy', my_wine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New My Wine', new_my_wine_path %>
