<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @my_wine.name %>
</p>

<p>
  <strong>Appellation winery:</strong>
  <%= @my_wine.appellation_winery_id %>
</p>

<p>
  <strong>Vintage:</strong>
  <%= @my_wine.vintage %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @my_wine.quantity %>
</p>

<p>
  <strong>Size:</strong>
  <%= @my_wine.size %>
</p>

<p>
  <strong>My wine cellar:</strong>
  <%= @my_wine.my_wine_cellar_id %>
</p>

<%= link_to 'Edit', edit_my_wine_path(@my_wine) %> |
<%= link_to 'Back', my_wines_path %>
